<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535674134914-hi0973ldq5fpvb6vpunagcciangomdvg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535674134914-hi0973ldq5fpvb6vpunagcciangomdvg</string>
	<key>API_KEY</key>
	<string>AIzaSyDfB-P1e5AaOX5DzGkKJkwahQCEuJiZ93U</string>
	<key>GCM_SENDER_ID</key>
	<string>535674134914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lojavirtual</string>
	<key>PROJECT_ID</key>
	<string>loja-virtual-d64cf</string>
	<key>STORAGE_BUCKET</key>
	<string>loja-virtual-d64cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535674134914:ios:94d765e5a72039c5362f9b</string>
	<key>DATABASE_URL</key>
	<string>https://loja-virtual-d64cf-default-rtdb.firebaseio.com</string>
</dict>
</plist>